 .container-header {
      background: #343A40;
      display: flex;
      padding-top: 29px;
      padding-bottom: 33px;
      padding-left: 206px;


     .container-option-enabled{
        padding-right: 71px;
        span {
          font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
          color: #FFFFFF;
        }
     }

     .container-option-disabled {
       padding-right: 71px;

       span {
         font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
         opacity: 100%;
         color: #ADADAD;
       }
    }
 }
