<div class="main-container">
  <form
  [formGroup]="musicianForm"
  (ngSubmit)="!musicianForm.invalid && createMusician(musicianForm.value)">

    <div class="form-group mx-sm-3 mb-2">
      <label class="form-label" for="name" i18n>
          Name
      </label>
      <h1><input novalidate id="name"
            class="form-control"
            formControlName="name"
            i18n-placeholder placeholder="Musician name"></h1>

      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('name').hasError('required') &&
          musicianForm.get('name').touched"i18n>
          Required name
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('name').hasError('minlength')"i18n>
          Name too short
      </div>
  </div>
    <div class="form-group mx-sm-3 mb-2">
        <label class="form-label" for="image"i18n>
            Image
        </label>
        <input novalidate id="image"
              class="form-control"
              formControlName="image"
              i18n-placeholder placeholder="Musician Image">
        <div class="alert alert-danger alert-dismissible fade show"
            *ngIf="musicianForm.get('image').hasError('required') &&
            musicianForm.get('image').touched" i18n>
            Image required
        </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label class="form-label"  for="description"i18n>
          Description
      </label>
      <input novalidate id="description"
            class="form-control"
            formControlName="description"
            i18n-placeholder  placeholder="Musician description">
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('description').hasError('required') &&
          musicianForm.get('description').touched" i18n>
          Description required
      </div>
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('description').hasError('minlength')"i18n>
          Description too short
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label class="form-label"  for="birthDate"i18n>
          Birth date
      </label>
      <input novalidate id="birthDate"
            class="form-control"
            formControlName="birthDate"
            i18n-placeholder placeholder="Musician birthdate (YYYY-MM-DD)">
      <div class="alert alert-danger alert-dismissible fade show"
          *ngIf="musicianForm.get('birthDate').hasError('required') &&
          musicianForm.get('birthDate').touched" i18n>
          Birth date required
      </div>

      </div>



    <div class="form-group mx-sm-3 mb-2 btn-group">
      <button type="submit"
              class="btn btn-primary submit-btn"
              [disabled]="!musicianForm.valid" i18n>
              Create
      </button>
      <button type="button"
              class="btn btn-danger ml-3 cancel-btn"
              (click)="cancelCreation()" i18n>Cancel</button>
    </div>
  </form>
</div>
