<div class="container-detail-band">
  <ng-container *ngIf="bandDetail">
  <div class="container-information">
    <div class="img-log">
      <img src="{{bandDetail.image}}" alt="imagen de la banda {{bandDetail.name}}">
      <div class="name">
       <h1> <span id="band-name">{{bandDetail.name}}</span></h1>
      </div>
    </div>
    <div class="container-information-detail">
      <div class="detail">
        <span id="band-description">{{bandDetail.description}} </span>
      </div>
      <div class="detail">
        <span>Creación: {{bandDetail.creationDate | date: 'yyyy-MM-dd' }} </span>
      </div>
      <div class="detail">
        <span>Tipo de artista: Banda </span>
      </div>
    </div>
    <div class="container-button">
      <div>
        <button type="button" class="design-button" (click)="addPrize(bandDetail)">Añadir premio</button>
      </div>
      <div class="show-comment">
        <button type="button" class="design-button" (click)="addMusician(bandDetail)">Añadir músico</button>
      </div>
    </div>
  </div>
   <!--Tabla albums-->
  <div class="list-information">
    <hr/>
    <div class="table-title">
      <div class="container-div">
        <span>Álbum</span>
      </div>
      <div class="container-div">
        <span>Nombre</span>
      </div>
      <div class="container-div">
        <span>Fecha Publicación</span>
      </div>

      <div class="container-div">
        <span>Casa Discografica</span>
      </div>
    </div>
    <hr/>
  </div>
 <div class="row-information" *ngFor="let album of bandDetail.albums; let i = index">
    <div class="table-body">
      <div class="container-div">
        <img class="album-cover" src="{{album.cover}}" alt="Imagen de portada del album {{album.name}} de la banda {{bandDetail.name}}" width="50px" height="50px"/>
      </div>
      <div class="container-div">
        <span id ='album-name-{{i}}'>{{album.name}}</span>
      </div>
      <div class="container-div">
        <span id ='album-release-date-{{i}}'>{{album.releaseDate| date: 'yyyy-MM-dd' }}</span>
      </div>
      <div class="container-div">
        <span id ='album-record-label-{{i}}'>{{album.recordLabel}}</span>
      </div>
    </div>
  </div>
   <!--Tabla musicos-->
  <div class="list-information">
    <hr/>
    <div class="table-title">
      <div class="container-div">
        <span>Músico</span>
      </div>
      <div class="container-div">
        <span>Nombre</span>
      </div>
      <div class="container-div">
        <span>Fecha de nacimiento</span>
      </div>
    </div>
    <hr/>
  </div>
 <div class="row-information" *ngFor="let musician of bandDetail.musicians; let i = index">
    <div class="table-body">
      <div class="container-div">
        <img class="musician-image-{{i}}" src="{{musician.image}}" alt="Imagen de musico {{musician.name}} de la banda {{bandDetail.name}}" width="50px" height="50px"/>
      </div>
      <div class="container-div">
        <span id ='musician-name-{{i}}'>{{musician.name}}</span>
      </div>
      <div class="container-div">
        <span id ='musician-birth-date-{{i}}'>{{ musician.birthDate | date: 'yyyy-MM-dd' }}</span>
      </div>
    </div>
  </div>
  <!--Tabla premios-->
  <div class="list-information">
    <hr/>
    <div class="table-title">
      <div class="container-div">
        <span>Premio</span>
      </div>
      <div class="container-div">
        <span>Otorga</span>
      </div>
      <div class="container-div">
        <span>Fecha de premiación</span>
      </div>
    </div>
    <hr/>
  </div>
 <div class="row-information" *ngFor="let premio of prizes; let i = index">
    <div class="table-body">
      <div class="container-div">
        <span id ='prize-name-{{i}}'>{{premio.name}}</span>
      </div>
      <div class="container-div">
        <span id ='prize-organization-{{i}}'>{{premio.organization}}</span>
      </div>
      <div class="container-div">
        <span id ='band-premiation-date-{{i}}'>{{ bandDetail.performerPrizes[i].premiationDate | date: 'yyyy-MM-dd' }}</span>
      </div>
    </div>
  </div>
</ng-container>
</div>
