.container-comment {
  background: black;
  width: 100%;
  height: 100%;

  .toast-style-warning {
    padding-left: 140px;
    padding-top: 32px;
    padding-right: 85px;
  }

  .toast-style-warning {
    padding-left: 140px;
    padding-top: 32px;
    padding-right: 85px;
  }

  .container-comment-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 141px;

    .toast-style {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .img-log {
      padding-top: 32px;

      .genre {
        text-align: center;

        h1 {
          color: #FFFFFF;
          font-size: 34px;
        }
      }

    }


    .container-comment-text {
      width: 100%;
      padding-left: 44px;
      padding-top: 32px;

      .container-options {

        width: calc(100% - 60%);
        padding-top: 32px;
        background-color: black;

        .item {
          display: block;
          width: 100%;
          padding: .375rem 2.25rem .375rem .75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: right .75rem center;
          background-size: 16px 12px;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }

      span {
        color: #FFFFFF;
        font-size: 16px;
      }

      .input-comment {
        width: calc(100% - 10%);
        height: 214px;
      }

      .comment-event {
        padding-top: 24px;
        width: 100%;
        text-align: center;
        span{
          font-size: 24px;
          font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
          border-bottom: 2px solid #2b85cd80;
        }
      }
    }



    .container-button {
      padding-left: 129px;
      padding-right: 88px;
      padding-top: 32px;

      button {
        width: 190px;
        height: 44px;
        background: black;
        border-color: #000000;
        color: #FFFFFF;
      }

      .show-comment {
        padding-top: 24px;
      }
    }
  }

  .list-comment {
    width: 100%;
    padding-top: 34px;
    padding-left: 141px;
    padding-right: 88px;

    span {
      color: #FFFFFF;
    }

    hr {
      width: 100%;
      color: #FFFFFF;
    }

    .table-title {
      width: 100%;
      display: flex;
      flex-direction: row;


      .container-div {
        width: 100%;
        span {
          font-size: 24px;
        }

      }
    }
  }

  .row-comment {
    width: 100%;
    padding-top: 34px;
    padding-left: 141px;
    padding-right: 88px;

    span {
      color: #FFFFFF;
    }

    .table-title {
      width: 100%;
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      justify-content: center;

      hr {
        width: 100%;
        color: #FFFFFF;
      }

      .container-div {
        display: flex;
        width: 100%;
        text-align: center;
        span {
          font-size: 24px;
        }

      }
    }
  }
}

