<div class="container-comment">
  <div class="toast-style-warning">
    <app-toast-message   [toast]="warning"></app-toast-message>
  </div>
  <div class="container-comment-detail">
    <div class="img-log">
      <div class="genre">
        <h1>Comentario</h1>
      </div>
    </div>
    <div class="container-comment-text">
      <div>
        <textarea class="input-comment" id="comment" placeholder="Diligencie un comentario" #comment_text
                  (paste)="saveText($event.clipboardData.getData('text/plain'), 'comment')"  (keyup)="saveText(comment_text.value, 'comment')"></textarea>
        <div class="toast-style">
          <app-toast-message   [toast]="comment"></app-toast-message>
        </div>

      </div>
      <div class="container-options">
        <select class="item" aria-label="Default select example" [ngModel]="reviewLabelSelect" (ngModelChange)="onChangeReview($event)">
          <option [value]="i" *ngFor="let i of review">{{i}}</option>
        </select>
        <div class="toast-style">
          <app-toast-message   [toast]="reviewWarning"></app-toast-message>
        </div>
      </div>

      <div class="comment-event" (click)="addComment()">
           <span >Añadir comentario</span>
      </div>
    </div>
    <div class="container-button">
      <div>
        <button type="button" class="design-button" (click)="goBack()">Regresar</button>
      </div>
    </div>
  </div>

  <app-title-table [titlesTable]="titlesTable"></app-title-table>
  <div class="row-comment" *ngFor="let item of album.comments; let i = index">
    <div class="table-title">
      <div class="container-div">
        <span>{{item.description}}</span>
      </div>
      <div class="container-div">
        <div *ngFor="let j of [].constructor(item.rating)">
          <span><img src="assets/img/calification.svg" alt=""></span>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>

