<div class="container-detail-album">
  <div class="container-information">
    <div class="img-log">
      <img src="{{album.cover}}" alt="">
      <div class="genre">
        <h1>{{album.genre}}</h1>
      </div>
    </div>
    <div class="container-information-detail">
      <div class="detail">
        <span i18n>Artists: {{album.recordLabel}}</span>
      </div>
      <div class="detail">
        <span i18n>Release: {{album.releaseDate  | date: 'yyyy-MM-dd' }} </span>
      </div>
      <div class="detail">
        <span i18n>Genre: {{album.genre}} </span>
      </div>
      <div class="detail">
        <span id="description-detail-album" i18n>{{album.description}}</span>
      </div>
    </div>
    <div class="container-button">
      <div class="show-comment">
        <button  class="button-style" (click)="goBack()" i18n>Go Back</button>
      </div>
      <div class="show-comment">
        <button class="button-style" (click)="checkComment()" i18n>Show  comment</button>
      </div>
    </div>
  </div>

  <app-title-table [titlesTable]="titlesTable"></app-title-table>
  <div class="row-information" *ngFor="let item of album.tracks; let i = index">
    <div class="table-title">
      <div class="container-div">
        <span i18n>{{item.id}}</span>
      </div>
      <div class="container-div">
        <span i18n>{{item.name}}</span>
      </div>
      <div class="container-div">
        <span i18n>{{item.duration}} min</span>
      </div>
    </div>
  </div>
</div>
