<div class="container-detail-album">
  <div class="container-information">
    <div class="img-log">
      <img src="{{album.cover}}" alt="">
      <div class="genre">
        <h1>{{album.genre}}</h1>
      </div>
    </div>
    <div class="container-information-detail">
      <div class="detail">
        <span>Artistas: {{album.recordLabel}}</span>
      </div>
      <div class="detail">
        <span>Lanzamiento: {{album.releaseDate  | date: 'yyyy-MM-dd' }} </span>
      </div>
      <div class="detail">
        <span>Genero: {{album.genre}} </span>
      </div>
      <div class="detail">
        <span>{{album.description}}</span>
      </div>
    </div>
    <div class="container-button">
      <div class="show-comment">
        <button  class="button-style" (click)="goBack()">Regresar</button>
      </div>
      <div class="show-comment">
        <button class="button-style" (click)="checkComment()">Ver comentarios</button>
      </div>
    </div>
  </div>

  <app-title-table [titlesTable]="titlesTable"></app-title-table>
  <div class="row-information" *ngFor="let item of album.tracks; let i = index">
    <div class="table-title">
      <div class="container-div">
        <span>{{item.id}}</span>
      </div>
      <div class="container-div">
        <span>{{item.name}}</span>
      </div>
      <div class="container-div">
        <span>{{item.duration}} min</span>
      </div>
    </div>
  </div>
</div>
