<div class="container-album">
  <div *ngFor="let item of albumes; let i = index" class="detail-album" (click)="clickItem(item.id)" [ngClass]="{'height-element': item.height}" id="{{i}}">
      <div class="img-driver" *ngIf="item.image !== '' ">
        <img src="{{item.image}}" alt="">
      </div>
      <div class="album-title" *ngIf="item.titleAlbum !== '' ">
        <h1 id="title {{i}}" i18n>{{item.titleAlbum}}</h1>
      </div>
      <div class="album-group" *ngIf="item.groupAlbum !== '' ">
        <span i18n>{{item.groupAlbum}}</span>
      </div>
      <div class="album-gender" *ngIf="item.genderAlbum !== '' ">
         <span i18n>{{item.genderAlbum}}</span>
      </div>
      <div class="album-state" *ngIf="item.stateAlbum !== '' ">
        <span i18n>{{item.stateAlbum}}</span>
      </div>
  </div>
</div>
