
<div class="container-detail-collector">
  <div class="container-information">

    <div class="img-log">
      <div class="name">
        <span>{{collectorDetail.name}}</span>
      </div>
    </div>
    <div class="container-button">
      <div>
        <button  class="button-style" (click)="goBack()" name="Regresar a lista de albumes">Regresar</button>
      </div>
    </div>
  </div>
<div class="container-fluid2">
  <h1> Comentarios hechos por {{collectorDetail.name}}</h1>
</div>

<div class="container-fluid">
<table class="table">
  <caption>Comentarios</caption>
  <thead>
    <tr>
      <th class="h4" width="35%" id="columna-album">Album</th>
      <th class="h4" width="40%" id="columna-comentario">Comentario</th>
      <th class="h4" id="columna-rating">Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of collectorDetail.comments" class="contenido">
      <td *ngFor="let alb of albumesOfComments">
        <span>{{alb.name}}</span>
      </td>
      <td>
        <span>{{c.description}}</span>
      </td>
      <td>
        <span>{{c.rating}}</span>
      </td>
  </tr>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-12">
    <hr>
  </div>
</div>

<div class="container-fluid2">
<h1> Artistas favoritos de {{collectorDetail.name}}</h1>
</div>
<div class="container-fluid">
<table class="table">
  <caption>Artistas Favoritos</caption>
  <thead>
    <tr>
      <th class="h4" width="75%" id="columna-nombre">Nombre</th>
      <th class="h4" width="25%" id="columna-foto">Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of collectorDetail.favoritePerformers" class="contenido">
      <td>
        <span>{{p.name}}</span>
      </td>
      <td>
        <img src="{{p.image}}" alt="Foto de {{p.name}}">
      </td>
  </tr>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-12">
    <hr>
  </div>
</div>
<div class="container-fluid2">
<h1> Albumes de {{collectorDetail.name}}</h1>
</div>
<div class="container-fluid">
<table class="table" >
  <caption>Albumes</caption>
  <thead>
    <tr>
      <th class="h4" width="27%" id="columna-nombre-Album">Nombre</th>
      <th class="h4" width="25%" id="columna-foto-Album">Foto</th>
      <th class="h4" width="24%" id="columna-precio">Precio</th>
      <th class="h4" width="25%" id="columna-estado">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of albumsCollector" class="contenido">
      <td>
        <span>{{a.name}}</span>
      </td>
      <td>
        <img src="{{a.cover}}" alt="foto del album {{a.name}}">
      </td>
      <td *ngFor="let alb of collectorDetail.collectorAlbums">
        <span>{{alb.price}}</span>
      </td>
      <td *ngFor="let alb of collectorDetail.collectorAlbums">
        <span>{{alb.status}}</span>
      </td>
  </tr>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-12">
    <hr>
  </div>
</div>









